body {
    background: linear-gradient(196deg, rgba(206,243,246,1) 16%, rgba(42,194,238,0.9976584383753502) 50%, rgba(92,120,138,1) 80%);
    background-attachment: fixed;
}
.weather-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 20px;
    /*background: linear-gradient(196deg, rgba(228,230,233,1) 19%, rgba(55,200,242,1) 36%, rgba(188,217,235,1) 83%);*/

}
/*.logos{*/
/*    display: block;*/
/*    max-width: 100px;*/
/*    max-height: 50px;*/
/*}*/
.search-container{
    display: flex;

    justify-content: space-evenly;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
}
.search-bar input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.search-button:hover{
    background-color:rgb(87, 87, 211);
}
.dropdown select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
/*.weather-view{*/
/*    width: 70px;*/
/*    height: 90px;*/
/*    background-color: #143f6c;*/
/*}*/

.pin{
    top:20px;
    right: -10px;
    left:30px;
    bottom: 30px;
    color: blue;
    margin: 15px;
}

.pinned,.unpinned{
    background: #007bff;
    width: 80px; /* adjust the width to your needs */
    padding: 10px 20px; /* adjust the padding to your needs */
    border-radius: 10px;
    /*background-color: #4CAF50; !* adjust the background color to your needs *!*/
    color: #fff; /* adjust the text color to your needs */
    border: none;
    cursor: pointer;
}
.current-weather{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;

}
.current-weather-view{
    /*background: linear-gradient(196deg, rgba(206,243,246,1) 16%, rgba(42,194,238,0.9976584383753502) 50%, rgba(92,120,138,1) 80%);*/
    width:50%;
    /*background: linear-gradient(196deg, rgba(228,230,233,1) 19%, rgba(55,200,242,1) 36%, rgba(188,217,235,1) 83%);*/
    /*background: #ebf3fb;*/
    height: auto;
    /*background: linear-gradient(0deg, rgba(211,211,211,0.8), rgba(211,211,211,0.8));*/
    /*background: linear-gradient(0deg, rgba(255,255,255,0.9), rgba(255,255,255,0.9));*/

    /*background-color: antiquewhite;*/
    left: 60px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
}
.day-wise-info{
    width: 50%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    /*background: linear-gradient(196deg, rgba(228,230,233,1) 19%, rgba(55,200,242,1) 36%, rgba(188,217,235,1) 83%);*/

    /*background-image: linear-gradient(to bottom, #87CEEB 0%, #6495ED 20%, #4682B4 40%, #3B5998 60%, #2F4F7F 80%, #2F4F7F 100%);*/
    /*background-color: antiquewhite;*/
}
.day-wise-info .input-radio{
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
    margin-right: 35px;
    margin-top: 20px;
}
.table_wise{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.table_wise thead tr th {
    text-align: center;
}


.suggestions-overlay{
    /*border : 1px solid #cccccc;*/
    /*background-color: aliceblue;*/
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    text-align: center;
    display:inline-list-item;
    /*max-width: fit-content;*/
}
.suggestions-overlay div{
    border : 0.0001px solid bisque;
    border-color: beige;
    /*background-color: aliceblue;*/
    /*margin:20px;*/
    /*text-align: center;*/
    /*display:list-item;*/
}


.location-date{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.info-item {
    padding: 20px;
    font-size: 16px;
    text-align: left;
}

/*!* The suggestions div will be positioned as an overlay *!*/
/*.suggestions-overlay {*/
/*    position: absolute;*/
/*    !*top: 100%; !* Positions it just below the input field *!*!*/
/*    left: 0;*/
/*    right: 0;*/
/*    background-color: white;*/
/*    border: 1px solid #ccc;*/
/*    z-index: 1000;*/
/*    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*!* Style for suggestion items *!*/
/*.suggestions-overlay div {*/
/*    padding: 10px;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*}*/

/*.suggestions-overlay div:hover {*/
/*    background-color: #f0f0f0;*/
/*}*/
